{% extends "base.html" %}
{% block layout %}
<body>
    <header>
      <style>
        .navbar{
          margin-left: 20px;
        }
      </style>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">&#9;SFI 2021 - warsztaty z atakowania aplikacji webowych - Burp Lab</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link {% if nav == 'setup' %}active{% endif %}" href="/">Main page<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/" onclick="javascript:event.target.port=5000">Burp training<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/" onclick="javascript:event.target.port=5001">Command Injection Task<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/" onclick="javascript:event.target.port=5002">IDOR Task<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/" onclick="javascript:event.target.port=5003">Path Traversal Task<span class="sr-only"></span></a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <article>
        {% block body %}{% endblock %}
    </article>
    <footer></footer>
</body>
{% endblock %}