<!DOCTYPE html>
<html>
<head>
    <title>-={ BIT CyberSec | The Rainbow Paladin }=-</title>
    <link href="{{.UrlBase}}static/css/index.css" rel="stylesheet">
</head>
<body>
    <div id="content">
        <div class="space-bottom">
            <h1>EPILEPSY WARNING!</h1><br>
            <a href="{{.UrlBase}}challenge">Command Injection Task</a>
        </div>
    </div>
    <h1>Command injection</h1><br>
    Attack in which unsafe user input is passed to a system shell.<br>
    The attacker-supplied system commands could be executed on the system with the privileges of the vulnerable application.<br>
    <h2>Why it happens?</h2><br>
    Probably some old application or part of specific internal system, because nowadays application which uses user input as part of a shell command is rarely seen.<br>
    <h2>How to exploit it?</h2><br>
    Use special shell characters to escape from executed command and use own system command.<br>
    <h2>How to secure it?</h2><br>
    Do not secure it, but also do not use user input as part of shell command.<br><br>
    <div id="center">
        <img src="{{.UrlBase}}static/images/cmdinjection.png" alt="Command Injection example">
    </div>
</body>
</html>